<p>Welcome <%= @fullname %>!</p>

<p>Thank you for your registration!</p>

<p>To activate your account please confirm your email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
